body {
	font-family: Georgia;
	line-height: 150%;
}

p {
	line-height: 150%;
}

h1 {
	font-weight: 300;
	font-size: 3em;
	text-align: center;
}

img {
	padding: 5px;
	border: 1px solid lightgrey;
	border-right: 2px solid darkgrey;
	border-bottom: 2px solid darkgrey;
	background-color: white;
}

h2 {
	font-family: 'Overlock', cursive;
	font-size: 1.5em;
}

h3 {
	font-size: 2em;
}

small {
	font-size: 0.9em;
	color: #c0c0c0;
}

strong {
	font-weight: bold;
}