<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Familiefejden</title>
		<link href="{f:uri.resource(path: 'StyleSheets/Reset.css')}" rel="stylesheet" type="text/css" />
		<link href="{f:uri.resource(path: 'StyleSheets/960.css')}" rel="stylesheet" type="text/css" />
		<link href="{f:uri.resource(path: 'StyleSheets/Docs.css')}" rel="stylesheet" type="text/css" />
		<link href="{f:uri.resource(path: 'StyleSheets/Forms.css')}" rel="stylesheet" type="text/css" />
		<link href="{f:uri.resource(path: 'StyleSheets/Tasks.css')}" rel="stylesheet" type="text/css" />
		<link href="{f:uri.resource(path: 'StyleSheets/Navigation.css')}" rel="stylesheet" type="text/css" />
		<link href='http://fonts.googleapis.com/css?family=Overlock|Londrina+Outline' rel='stylesheet' type='text/css'>


		<script src="{f:uri.resource(path: 'JavaScript/jquery.min.js')}"></script>
		<script src="{f:uri.resource(path: 'JavaScript/ember-0.9.6.min.js')}"></script>
		<script src="{f:uri.resource(path: 'JavaScript/Application.js')}"></script>
		<script src="{f:uri.resource(path: 'JavaScript/StateManager.js')}"></script>
		<f:base />
	</head>
	<body>
		<!--<nav>
			<ul>
				<li>
					<f:link.action controller="Standard" action="index">Forside</f:link.action>
				</li>
				<li>
					<f:link.action controller="Task" action="list">Opgaver</f:link.action>
				</li>
				<li>
					<f:link.action controller="Team" action="new">Tilmeld hold</f:link.action>
				</li>
				<li>
					<f:link.action controller="Answer" action="list">Se afgivet svar</f:link.action>
				</li>
				<f:security.ifAuthenticated>
					<li>
						Velkommen <strong>{party.name}</strong>
					</li>
					<li>
						<f:link.action controller="Login" action="logout">Log ud</f:link.action>
					</li>
				</f:security.ifAuthenticated>
				<f:security.ifHasRole role="Administrator">
				<li>
					<f:link.action controller="Task" action="new">Opret opgave</f:link.action>
				</li>
				</f:security.ifHasRole>
			</ul>
		</nav>-->
		<div class="container_12">
			<div class="span_12" style="height: 100px;background: -webkit-linear-gradient(top,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%)">

			</div>
			<f:flashMessages />

			<f:render section="Content" />

		</div>
	</body>
</html>