<f:layout name="Default" />
		<f:section name="Content">
			<f:if condition="{tasks}">
				<ul class="tasks">
				<f:for each="{tasks}" as="task">
					<li>
						<h2>{task.name}</h2>
						<small>Opgaven åbner <f:format.date format="d. M Y">{task.hiddenBefore}</f:format.date></small>
						<p>
							{task.description}
							<f:link.action action="show" arguments="{task : task}" class="btn btn-info pull-right">
								Besvar
							</f:link.action>
						</p>
					</li>
				</f:for>
				</ul>
			</f:if>
		</f:section>