/*nav {
	height: 40px;
	background: -webkit-linear-gradient(bottom, #336699 25%, rgb(36,132,227) 63%);
	font-family: Georgia;
	font-size: 10pt;
	position: fixed;
	top: 5px;
}

nav ul {
	padding-top: 12px;
}

nav ul li {
	float: left;
	color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	border-left: 1px dotted #ffffff;
}

nav ul li a {
	color: #ffffff;
}

nav ul li a:hover {
	text-decoration: none;
}

nav ul li:first-child {
	border-left: none;
}*/


nav {
	background: rgb(122,188,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(122,188,255,1) 0%, rgba(96,171,248,1) 44%, rgba(64,150,238,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(122,188,255,1)), color-stop(44%,rgba(96,171,248,1)), color-stop(100%,rgba(64,150,238,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
	top: 0;
	width: 100%;
	height: 50px;
	position: fixed;
}

nav ul li {
	float: left;
	color: #ffffff;
	padding: 10px;
	font-size: 1.3em;
	border: 1px solid transparent;
}

nav ul li:hover {
	border: 1px solid lightgrey;
}

nav ul li a {
	color: #ffffff;
}

nav ul li a:hover {
	text-decoration: none;
}

nav ul li:first-child {
	border-left: none;
}