/*nav {
	height: 40px;
	background: -webkit-linear-gradient(bottom, #336699 25%, rgb(36,132,227) 63%);
	font-family: Georgia;
	font-size: 10pt;
	position: fixed;
	top: 5px;
}

nav ul {
	padding-top: 12px;
}

nav ul li {
	float: left;
	color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	border-left: 1px dotted #ffffff;
}

nav ul li a {
	color: #ffffff;
}

nav ul li a:hover {
	text-decoration: none;
}

nav ul li:first-child {
	border-left: none;
}*/
/* line 35, sass/Navigation.scss */
header {
  background-image: url("../Images/logo-300.png");
  background-position: top left;
  background-repeat: no-repeat;
  height: 65px;
}

/* line 42, sass/Navigation.scss */
header nav ul li {
  float: right;
}

/* line 46, sass/Navigation.scss */
nav {
  top: 0;
  height: 50px;
}

/* line 51, sass/Navigation.scss */
nav ul li {
  float: left;
  padding: 10px;
  font-size: 1em;
  border: 1px solid transparent;
}

/* line 58, sass/Navigation.scss */
nav ul li:hover {
  border: 1px solid lightgrey;
}

/* line 62, sass/Navigation.scss */
nav ul li a {
  text-decoration: none;
}

/* line 66, sass/Navigation.scss */
nav ul li:first-child {
  border-left: none;
}
