{namespace form=TYPO3\Form\ViewHelpers}

<f:layout name="Default"/>

<f:section name="Content">
	<div class="grid_12">
		<h1>Familiefejden</h1>
	</div>
	<div class="grid_4">
		<h3>Tilmeld</h3>
		<p>

		</p>
	</div>
	<div class="grid_4">
		<h3>Vi er tilmeldt</h3>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet diam ante, id lobortis erat. Maecenas justo arcu, aliquet quis feugiat id, tempor in magna. Sed laoreet lacinia risus vel feugiat. Mauris condimentum dictum vulputate. Aenean auctor est quis urna porta rhoncus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus at augue ut lectus laoreet molestie imperdiet sed orci.
		</p>
	</div>
	<div class="grid_4">
		<h3>Et svar</h3>
		<p>
			<f:render partial="Task/Response" />
		</p>
	</div>
</f:section>